.searchContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
}

.inputText {
    min-width: 300px;
}

.hotelForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 800px;
    margin-bottom:  50px;
}

