.registerForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 430px;
    margin-bottom: 50px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


