.roomCardContainer {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  border: 1px grey dotted;
  border-radius: 5px;
  padding: 10px;
  min-height: 250px;
  max-height: 250px;
  margin-bottom: 15px;
  gap:20px;
}

/* Стили для блока с изображением */
.roomCard_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.roomCard_image {
  border-radius: 5px;
  max-width: 350px;
  height: auto;
  object-fit: cover;
  /* Чтобы изображение заполняло блок */
}

/* Стили для блока с описанием */
.roomCard_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1vh;
  max-height: 250px;

}

.roomCard_description_name {
  text-transform: uppercase;
  font-weight: 500;
}

/* Стили для кнопки "Подробнее" */
.roomCard_description_button {
  width: 120px;
  /* Ширина кнопки */
  margin: 0 auto;
  /* Центрирование кнопки */
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.roomCard_description_button:hover {
  background-color: #0056b3;
  /* Изменение цвета при наведении */
}

.roomCard_price_container {
  margin-top: 100px;
  padding-right: 20px;
}
.roomCard_price_box {
  display: flex;
  gap: 10px;
}

.roomCard_old_price {
  text-decoration: line-through;
}

