
.sideBarContainer {
    display: flex;
    margin: 10px 0 10px 0;
    justify-content: center;
    align-items: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Светло-серая тень */
    border-radius: 10px;
    position: relative;
    top: -55px;
}
    
.baseList, .clientList, .adminList, .managerList {
    display: flex;
    list-style-type: none;
    text-align: center;
    gap: 25px;

} 

